.principal{
    text-align: center;
    background-color: #444654;
    height: 100vh;
}
.principal__cabecera{
    background-color: #343541;
    width: 50%;
    margin: auto;
    padding: 5px;
    border-radius: 20px;
}
.cabecera__titulo{
    color: #ECECF1;
}
.cabecera__icon{
    position: absolute;
    right: 0;
    top: 0;
}
.menu__option{
    display: inline;
    background-color: #343541;
    padding: 5px;
    border-radius: 5px;
    margin: 0 20px;
}
.option__link{
    text-decoration: none;
    color: #ECECF1;
    text-align: center;
}
.principal__pie{
    position: absolute;
    bottom: 20px;
    
}