:root {
    --border-color: rgba(26, 26, 26, 0.364);
    --background-light-color: #f0f0f0;
    --text-color: #000000;
    --color-secundary: #80AC39;
    --color-principal: #ffffff;
    --page-widht: 115rem;
}

html {
    font-size: 10.5px;
}

