.content__products{
    margin-top: 6rem;
    max-width: var(--page-width);
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
}

.products__title{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -1px;
    display: inline-block;
}

.products__title::after{
    content: "";
    display: flex;
    background-color: var(--color-secundary);
    width: 64px;
    height: 4px;
    transform: translate(74px, 8px);
}

@media(min-width: 500px){
    .products__title::after{
        width: 67px;
        transform: translate(85px, 8px);
    }
}

.products__container{
    display: grid;
}

.products__categories{
    display:flex;
    margin-top: 3.7rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    width: 110%;
    text-align: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
}
.categories__option{
    font-size: 1.4rem;
    cursor: pointer;
}

.categories__option:hover::after{
    content: "";
    display: flex;
    background-color: var(--color-secundary);
    width: 90%;
    justify-content: center;
    transform: translate(4px ,-1px);
    height: 3px;
}

.first:hover::after{
    content: "";
    display: flex;
    background-color: var(--color-secundary);
    width: 90%;
    justify-content: center;
    transform: translate(1px ,-1px);
    height: 3px;
}

.categories__option{
    padding-bottom: 0.6rem;
}
.categories__option:hover{
    padding-bottom: 0.2rem;
}

.products__container{
    display: grid;
    gap: 16px;
    grid-auto-rows: 0fr;
    grid-template-columns: repeat(auto-fit,minmax(18.8rem,18.8rem));
    justify-content: space-between;
    width:108%;
    margin-top: 3rem;
}
.container__product{
    height: 23.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.producto__image-container{
    height: 90%;
    background-color: #F2F6FC;
}

.image-container__image{
    height: 100%;
    width: 100%;
}

.product__name{
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--text-light-color);
    padding-top: 0.7rem;
}

.product__price{
font-size: 1.3rem;
font-weight: 800;
padding-top: 0.2rem;
}
