.principal{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(1, 39, 41);
    color: aliceblue;
}
.principal__tittle{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    
    top: 10px;
    left: 20px;
}