.App__content {
  max-width: var(--page-width);
}

.content {
  max-width: var(--page-width);
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-areas: "aside principal";
  box-sizing: border-box;
  padding: 0 0.5rem;
}


.content__principal {
  display: flex;
  flex-direction: column;
  grid-area: principal;
}

.principal__top {
  display: flex;
  height: 5rem;
  justify-content: space-between;
}

.content__aside{
  grid-area: aside;
}

.top__searcher {
  display: flex;
  border: solid 2px var(--background-light-color);
  height: 100%;
  max-width: 59rem;
  flex-grow: 3;
}

.searcher__categories {
  flex-grow: 3;
  font-size: 1.4rem;
  align-self: center;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.searcher__text-holder {
  flex-grow: 5;
}

.text-holder__input {
  appearance: none;
  border: none;
  width: 100%;
  height: 100%;
}

.searcher__button {
  appearance: none;
  border: none;
  background-color: var(--color-secundary);
  color: var(--color-principal);
  font-size: 1.4rem;
  font-weight: 600;
  flex-grow: 1.5;
}

.top__contact {
  max-width: 21rem;
  flex-grow: 1;
  display: flex;
}

.contact__button {
  width: 5rem;
  border-radius: 2.5rem;
  appearance: none;
  border: none;
  background-color: var(--background-light-color);
  color: var(--color-secundary);
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
}

.contact__info {
  display: flex;
  flex-direction: column;
  height: 4.6rem;
  margin-left: 3rem;
  justify-content: space-around;

}

.info__number {
  font-size: 1.5rem;
  font-weight: 600;
}

.info__support {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--border-color);
}

.principal__front {
  background-color: var(--background-light-color);
  height: 40rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.front__texts {
  width: 38%;
}

.texts__subtitle {
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: var(--color-secundary);
  font-weight: 600;
  margin-left: 5rem;
}

.texts__title {
  margin-left: 5rem;
  font-size: 4rem;
  font-weight: 900;
}

.texts__description {
  margin-left: 5rem;
  font-size: 1.4rem;
  color: #aaaaaa;
  font-weight: 700;
}

.texts__button {
  margin-left: 5rem;
  height: 4rem;
  width: 13.5rem;
  margin-top: 3rem;
  appearance: none;
  border: none;
  background-color: var(--color-secundary);
  color: var(--color-principal);
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.front__image-containter {
  height: 100%;
  width: 62%;
  overflow: hidden;
  position: relative;
}

.image-container__img {
  width: 92%;
  top: 8%;
  object-fit: cover;
  object-position: center;
  position: absolute;
}

.content__carrousel {
  grid-area: carrousel;
}

@media (max-width: 1400px) {
  .texts__title {
    font-size: 3.5rem;
  }
}

@media (max-width: 1200px) {
  .front__image-containter {
    width: calc(70% - 20rem);
    overflow: hidden;
  }

  .image-container__img{
    top: 0;
    position: absolute;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .content {
    grid-template-columns: 15% 85%;
  }

  .principal__top {
    display: none;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

}

@media (max-width: 992px) {

  .front__image-containter {
    width: 70%;
    overflow: hidden;
  }

  .top__extend-text {
    display: none;
  }

  .top__extend-icon {
    display: none;
  }

  .top__contact {
    justify-content: center;
  }

  .texts__title {
    font-size: 2.5rem;
  }
  .searcher__categories{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

}


@media (max-width: 767px) {

  .principal__front {
  height: 30rem;
}

.front__image-containter {
  width: 60%;
}

  .categories__name {
    display: none;
  }

  .contact__info {
    display: none;
  }


   

  .texts__subtitle {
    font-size: 1rem;
  }

  .texts__description {
    font-size: 1rem;
  }

  .texts__title {
    font-size: 1.7rem;
  }

  .texts__button {
    width: 9rem;
    height: 4rem;
    font-size: 1rem;
  }
}

@media (max-width: 645px) {
  .front__image-containter {
    width: 70%;
  }
}

