.header__container{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    width: var(--page-widht);
    padding: 0;
    height: 7.7rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.header__menu{
    font-size: 1.4rem;
    display: flex;
    width: 45.5rem;
    justify-content: space-between;
    align-self: center;
}

.menu__link{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.menu__link:hover{
    color: var(--color-secundary);
    cursor: pointer;
}

.header__cart{
    font-size: 1.4rem;
    display: flex;
    width: 19rem;
    justify-content:space-around;
    align-self: center;
}
.cart__heart, .cart__bag{
    font-size: 2rem;
}

.cart__heart:hover, .cart__bag:hover{
    cursor: pointer;
    color: var(--color-secundary);
}

.cart__total:hover{
    cursor: pointer;
}
.total__bold{
    font-weight: 700;
}

@media (max-width: 992px) {
    .header__logo {
        display: none;
    }
}

@media (max-width: 600px) {
    .header__cart{
        display: none;
    }
    .header__menu{
        width: 100%;
        justify-self: center;
    }
    .header__container{
        width: 100%;
    }
}