.carousel{
  margin-top: 5rem;
  
}
.slick-slide, .slick-current{
  
  padding: 1rem;
}
.imagenes{
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.292);
  padding: 1rem;
  border-radius: 5px;
  border-top: solid 1px rgba(0, 0, 0, 0.039);
}