.menu{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.439);
}

.menu__name{
    margin: 0;
    padding-left: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.menu__logo{
    margin-left: 4rem;
    height: 80%;
}