.principal {
  height: 90%;
  width: 1050px;
  margin: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.834), #ffffff);
  border-radius: 3rem;
  border: solid 2px #F3F4F6;
}


.principal__text {
  color: rgba(0, 0, 0, 0.7);
  font-size: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.principal__buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 3rem;
  gap: 1.5rem;
}

.buttons__text{
  color: rgb(107, 107, 107);
  font-size: 2rem;
  text-align: center;
  line-height: 35px;
  font-weight: 300;
}

.buttons__style{
  background-color: #ffffffaf;
  color: rgba(0, 0, 0, 0.7);
  border: solid 2px #F3F4F6;
  width: 15rem;
  height: 7.5rem;
  font-size: 1rem;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  line-height: 35px;
  opacity: 50;
  font-weight: 400;
  padding-top: 0.7rem;
}

.buttons__style__icon{
  font-size: 2.5rem;
}
.buttons__style:hover{
  background-color: #F5F5F5;
  color: #a4a4a4;
}




.principal__barra {
  margin: auto;
  height: 250px;
  padding-top: 3rem;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.principal__vencimientos {
  z-index: 1;
}
.vencimientos{
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.vencimientos__text{
  color: rgb(107, 107, 107);
  font-size: 2rem;
  text-align: center;
  line-height: 20px;
  font-weight: 300;
  
}

.vencimientos__vencimiento{
  padding: 0 3rem;
  border-radius: 0.5rem;
  background-color: #ffffffaf;
  color: rgba(0, 0, 0, 0.7);
  border: solid 2px #F3F4F6;
  width: 15rem;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  box-shadow: 0 0 3rem #00000002;
  margin-top: 1.5rem;
}

.vencimiento__fecha,
.vencimiento__titulo,
.vencimiento__monto{
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  font-weight: 500;
}