.contenedor__tabla{
    width: 100%;

}
.tabla__ventas{
    width: 80%;
    margin: auto;
    line-height: 3rem;
    border-collapse: collapse;
}
.tabla__fila {
    td{
        font-size: 1.7rem;
        border: 1px solid black;
    }
   
}