.Header {
  width: 100%;
  justify-self: center;
  background-color: var(--color-principal);
  height: 8rem;
  display: flex;
  justify-content: center;
}

.Header__content {
  width: 135rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__user {
  width: 13rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 0 0 auto;
}

.user__name {
  font-size: 1.8rem;
  font-weight: 700;
}

.user__icon-holder {
  height: 5rem;
  width: 5rem;
  border-radius: 3rem;
  border: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-holder__icon {
  font-size: 2rem;
}

.icon-holder__tooltiptext {
  width: 232px;
  background-color: var(--color-gris);
  color: #fff;
  text-align: left;
  border-radius: 5px;
  margin: 0;
  position: absolute;
  z-index: 1;
  top: 7.4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transform: translate(-8rem, 0);
  transition: opacity 0.3s, visibility 0.3s;
  visibility: hidden;
  opacity: 0;
}

.user__icon-holder:hover .icon-holder__tooltiptext {
  visibility: visible;
  opacity: 1;
}


.options__mascotas-container {
  height: 0;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: height 0.3s ease-in-out; /* Transición suave de 0.3 segundos */
}

.options__mascotas-container.open {
  height: 7.3rem; /* Muestra el contenido cuando la clase 'open' se agrega */
}

.tooltiptext__options {
  display: flex;
  flex-direction: column;
  padding-left: 0rem;
}

.options__mascotas {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-principal);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.mascotas__1,
.mascotas__2,
.mascotas__3 {
  height: 5rem;
  border-radius: 3rem;
  cursor: pointer;
}

.option__link {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  padding: 0.2rem;
  margin-left: 1.2rem;
  font-weight: 600;
}

.options__option{
  padding-left: 0;
  cursor: pointer;
}


.icon-holder__tooltiptext::before {
  content: "";
  position: absolute;
  top: -4%;
  right: 10%;
  transform: translateX(-50%);
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent var(--color-gris);
  z-index: 1;
}

.content__else {
  width: 10rem;
  height: 5rem;
  flex-grow: 1;
}