:root {
    --color-secundario: #66CED6;
    --color-principal: #fff;
}

html {
    font-size: 10px;
}

.home__head {
    height: 6rem;
    padding: 0 1.6rem;
    display: flexbox;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.head__menu-icon {
    display: none;
    align-items: center;
    color: var(--color-secundario);
    margin: 1rem;
}

.menu-icon__icon {
    font-size: 4rem;
}

.head__searcher {
    order: 1;
    height: 40px;
    padding: 0 16 0 0px;
    flex: 0 1 70rem;
    margin: 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0.1rem 0.1rem 0.5rem #0000002f;
}

.searcher__input,
.searcher__button {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    outline: none;
    background: none;
}

.searcher__input {
    font-size: 2rem;
    margin-left: 1.5rem;
}

.searcher__button {
    cursor: pointer;
    height: 40px;
    width: 64px;
}

.head__location {
    order: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3rem;
    overflow: hidden;
}

.location__text {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    margin-left: 0.4rem;
    max-width: 100%;
    outline: none;
    text-align: inherit;
    width: 100%;
}

.head__user {
    order: 2;
    display: flex;
    align-items: center;
}

.user__image-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    border-radius: 6rem;
    overflow: hidden;
}

.image-container__image {
    max-width: 100%;
}

.user__name {
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.head__notifications {
    cursor: pointer;
    align-items: center;
    color: var(--color-secundario);
}

.notifications__icon {
    height: 6rem;
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.9rem;
}

@media (max-width: 1125px) {
    .head__location{
        display: none;
    }

    .user__name {
        display: none;
    }

    .head__menu-icon {
        display: block;
    }
}
@media (max-width: 552px) {
    .head__notifications{
        display: none;
    }
}